p{
    font-size: 20px;

}








.story{
    background-color: black;
    color: turquoise;
    padding: 35px;
    margin-bottom: 30px;
    text-align: center;
}

#fucked{
    display: inline;
    font-size: larger;


}

.list{
    font-size: 40px;

}