h1{
    display: block;
    text-align: center;
    background-color: gold;
    color: darkmagenta;
    font-family: Helvetica;
    font-size: 32px;
    margin-bottom: 60px;
    padding: 10px;
    border: 30px;
    border-color: black;
}