



p{
    color: darkorchid;
}

h1{
    color: gold;
}


.story{
    background-color: black;
    color: turquoise;

}

ul{
    background-color: black;
    color: turquoise;
}

img{
    display: inline-block;

}