h1{
    text-align: center;
    padding: 30px;
    border: 30px;
    background-color: #FFFDD0;
    color: #D2691E;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Helvetica;
    text-decoration: underline;

}



img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}


p{
    font-size: 24px;
    font-family: Helvetica;
    margin-bottom: 60px;

}

h2{
    text-align: center;
    padding: 30px;
    border: 30px;
    background-color: #FFFDD0;
    color: #D2691E;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Helvetica;
    text-decoration: underline; 
}



li{
    margin: 40px;
    font-size: 24px;
    font-family: Helvetica;
}

h3{
    text-align: center;
    padding: 30px;
    border: 30px;
    background-color: #FFFDD0;
    color: #D2691E;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Helvetica;
    text-decoration: underline; 
}

ul, ol{
    margin-bottom: 60px;

}


button{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #D2691E;
    color: #FFFDD0;
    width: 100px;
    height: 60px;
    padding: 20px;
    border: 20px;
    margin-bottom: 30px;


}